.carousel {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.off-color {
  background-color: rgba(169, 157, 153, 0.7);
  min-height: 40vh;
  padding-top: 20px;
}
.paddingtop {
  padding-top: 25px;
}
