ul li {
  font-size: 16px;
  text-align: left;
  margin-bottom: 5px;
}
.contact-form {
  margin-top: 20px;
}
.submit-btn {
  background-color: #3b160c;
  color: white;
  padding: 10px 30px;
}
.map-div {
  padding-top: 20px;
}
@media screen and (max-width: 1223px) {
  ul li {
    font-size: 16px;
  }
  .contact-form {
    flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
  }
}
