.carousel-div {
  max-width: 50%;
  margin-bottom: 5vh;
}

.carousel .slide {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.slide {
  background-color: transparent;
}
.carousel-image {
  position: relative;
  width: 99%; /* for IE 6 */
  max-height: 60vh;
}

.text {
  position: absolute;
  /* top: 200px; */
  bottom: 40px;
  left: 0;
  width: 100%;
  font-weight: bold;
  text-shadow: -0.5px 0.5px 0 #a99d99, 0.5px 0.5px 0 #a99d99,
    0.5px -0.5px 0 #a99d99, -0.5px -0.5px 0 #a99d99;
  color: #2a110e;
  background-color: transparent;
  /* color: white; */
  /* font: bold 24px/45px Helvetica, Sans-Serif; */

  background: rgba(169, 157, 153, 0.7);
  padding: 10px;
}
@media (max-width: 1600px) {
  .carousel-div {
    max-width: 100%;
  }
}
@media (max-width: 1223px) {
  .carousel-div {
    max-width: 100%;
  }
  .text h2 {
    font-size: small;
  }
  .text p {
    font-size: smaller;
  }
  .carousel-image {
    position: relative;
    width: auto; /* for IE 6 */
    max-height: 35vh;
    min-width: 99%;
    min-height: 100%;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    overflow: hidden;
  }
  .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: transparent;
  }
}
