.about-us-photo {
  width: 60%;
  margin: 20px;
}
.pages {
  background-color: rgba(169, 157, 153, 0.5);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 30px;
  margin-bottom: 50px;
}
.pages-white {
  background-color: rgba(169, 157, 153, 0.5);
}
.img-box {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media screen and (max-width: 1600px) {
  .about-us-photo {
    width: 100%;
    margin: 5px;
  }
  blockquote {
    font-size: small;
  }
}
