h1, h2{
    font-family: 'Libre Franklin', sans-serif;
}

.header-jumbo, .jumbotron {
    background-color: #2B2214;
    height: auto;
}

.header {
    color: white;
    margin-top: -50px;
}

@media screen and (max-width:470px) {
    .header {
        font-size: 60px;
        margin-top: -25px;
    }
}

@media screen and (max-width:376px) {
    .header {
        font-size: 60px;
        margin-top: -25px;
    }
}